

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
  border-radius: 12px solid yellow;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}


.colz .colz-icon i {
  color: black;
  padding: 8px;
  padding-left: 0px;
}

.colz .cols-icon i:hover {
  transform: scale(1.5);
}

.project-button {
  size: 10%;
}

.project-button-wrapper{
  display: absolute;
  margin-top: 5%;
  justify-content: center;
}

.project-button{
  display: absolute;
  width: 40px;
  animation: arrowBlink 3s infinite; 
}
@keyframes arrowBlink {
  100%{
    opacity: 0;
  }
}


/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media only screen and (max-width: 910px) {
  .profile-picture {
    margin: 0 0 0 4px;
    height: 320px;
    width: 320px;
  }
}
@media only screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .proflie-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .proflie-details {
    width: 95%;
  }
}
