.card {
    width: 20rem;
    height: 28rem;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.overflow {
    overflow:hidden;
}

.card-image{
    transform: scale(1);
    transition: transform 0.8s ease;
}
.card-image:hover{
    transform: scale(1.8);
}

